.placeholderCard {
  min-height:160px;
  background: linear-gradient(90deg, #1f21258f, #1f2125, #1f21258f);
  background-size: 200% 100%;
  background-position: 100%;
  border-radius: 6px;
  opacity: 0.7;
  transition: opacity 0.4s ease;
  animation: flash 2s linear infinite !important;
}

@keyframes flash {
  0% {
    background-position: 100%;
  }
  100% {
    background-position: -100%;
  }
}
