.dashboard {
  width: 100%;
  padding-bottom: 100px;
}
.dashboard__container {
  display: grid;
  align-content: center;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  width: 100%;
  gap: 20px;
}
.dashboard__card {
  position: relative;
  min-height: 150px;
  width: 100%;
  display: grid;
  place-content: center;
  text-align: center;
  background-color: var(--secondary-color);
  color: var(--primary-text-color);
  border-radius: 6px;
  overflow: hidden;
  z-index: 0;
}
.dashboard__card p {
  margin: 0;
  font-size: xx-large;
}
.dashboard svg {
  margin-right: 10px;
  margin-bottom: -4px;
  font-size: 1.3rem;
}
.dashboard__card img{
  position: absolute;
  bottom:0;
  right:0;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  transform: translate(20%, 0%) rotate(20deg);
}
.dashboard__card > h4 {
  font-size: small;
  font-weight: var(--fw-light);
}
