@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

:root {
  --primary-color: white;
  --secondary-color: #1f2125;
  --accent-color: tomato;
  --background-color: whitesmoke;

  --switch: #444;

  --primary-text-color: white;
  --secondary-text-color: grey;

  --fw-bold: 700;
  --fw-medium: 500;
  --fw-midlight: 400;
  --fw-light: 300;
}

body {
  margin: 0;
  transition: all 0.1s ease-in;
  font-family: "Poppins", sans-serif;
}
h3 {
  font-weight: var(--fw-medium);
}
.foodCard[data-deleting="true"],
.exerciseCard[data-deleting="true"],
.goalCard[data-deleting="true"],
.dashboard__card[data-loading="true"] {
  background: linear-gradient(90deg, #1f21258f, #1f2125, #1f21258f);
  background-size: 200% 100%;
  background-position: 100%;
  opacity: 0.7;
  transition: opacity 0.4s ease;
  animation: flash 2s linear infinite;
}
@keyframes flash {
  0% {
    background-position: 100%;
  }
  100% {
    background-position: -100%;
  }
}
