.layout {
    display: flex;
  }
  .sidebar {
    /* min-height: 100vh; */
    background-color: var(--secondary-color);

    flex-basis: 20%;
    min-width: 5rem;
  }
  .page {
    margin-top: 30px;
    padding-inline: 20px;
    flex-basis: 80%;
  }

  @media (max-width:500px){
    .sidebar{
        /* flex-direction: column-reverse; */
        position:fixed;
        bottom:0;
        left:0;
        right:0;
    }
  }